<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>Sounds</string>
		<key>color</key>
		<string>blue_block</string>
		<key>Blocks</key>
		<array>
			<dict>
				<key>isModifiable</key>
				<true/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Animal Noise</string>
				<key>color</key>
				<string>animalNoiseColor</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>animalNoise.pdf</string>
			</dict>
			<dict>
				<key>isModifiable</key>
				<true/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Emotion Noise</string>
				<key>color</key>
				<string>emotionNoiseColor</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>emotionNoise.pdf</string>
			</dict>
			<dict>
				<key>isModifiable</key>
				<true/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Object Noise</string>
				<key>color</key>
				<string>objectNoiseColor</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>objectNoise.pdf</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>isModifiable</key>
				<true/>
				<key>name</key>
				<string>Vehicle Noise</string>
				<key>color</key>
				<string>vehicleNoiseColor</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>vehicleNoise.pdf</string>
			</dict>
			<dict>
				<key>isModifiable</key>
				<true/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Speak</string>
				<key>color</key>
				<string>speakColor</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>speakNoise.pdf</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>green_block</string>
		<key>type</key>
		<string>Drive</string>
		<key>Blocks</key>
		<array>
			<dict>
				<key>isModifiable</key>
				<true/>
				<key>name</key>
				<string>Drive Forward</string>
				<key>type</key>
				<string>Statement</string>
				<key>color</key>
				<string>green_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>drive_forward.pdf</string>
			</dict>
			<dict>
				<key>isModifiable</key>
				<true/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Drive Backward</string>
				<key>color</key>
				<string>green_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>drive_backward.pdf</string>
			</dict>
			<dict>
				<key>isModifiable</key>
				<true/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Turn Left</string>
				<key>color</key>
				<string>green_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>turn_left.pdf</string>
			</dict>
			<dict>
				<key>isModifiable</key>
				<true/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Turn Right</string>
				<key>color</key>
				<string>green_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>turn_right.pdf</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>gold_block</string>
		<key>type</key>
		<string>Lights</string>
		<key>Blocks</key>
		<array>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>isModifiable</key>
				<true/>
				<key>name</key>
				<string>Set Eye Light</string>
				<key>color</key>
				<string>gold_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>set_eye_light.pdf</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>isModifiable</key>
				<true/>
				<key>name</key>
				<string>Set Left Ear Light Color</string>
				<key>color</key>
				<string>gold_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>set_left_ear_light.pdf</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>isModifiable</key>
				<true/>
				<key>name</key>
				<string>Set Right Ear Light Color</string>
				<key>color</key>
				<string>gold_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>set_right_ear_light.pdf</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>isModifiable</key>
				<true/>
				<key>name</key>
				<string>Set Chest Light Color</string>
				<key>color</key>
				<string>gold_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>set_chest_light.pdf</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>isModifiable</key>
				<true/>
				<key>name</key>
				<string>Set All Lights Color</string>
				<key>color</key>
				<string>gold_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>set_all_lights.pdf</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>orange_block</string>
		<key>type</key>
		<string>Control</string>
		<key>Blocks</key>
		<array>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>acceptedTypes</key>
				<array>
					<string>Number</string>
				</array>
				<key>isModifiable</key>
				<true/>
				<key>name</key>
				<string>Repeat</string>
				<key>color</key>
				<string>orange_block</string>
				<key>double</key>
				<true/>
				<key>imageName</key>
				<string>repeat.pdf</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>isModifiable</key>
				<false/>
				<key>name</key>
				<string>Repeat Forever</string>
				<key>color</key>
				<string>orange_block</string>
				<key>double</key>
				<true/>
				<key>imageName</key>
				<string>repeat_forever.pdf</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>acceptedTypes</key>
				<array>
					<string>Boolean</string>
				</array>
				<key>isModifiable</key>
				<true/>
				<key>options</key>
				<array>
					<true/>
					<false/>
				</array>
				<key>name</key>
				<string>If</string>
				<key>color</key>
				<string>orange_block</string>
				<key>double</key>
				<true/>
				<key>imageName</key>
				<string>if.pdf</string>
			</dict>
			<dict>
				<key>isModifiable</key>
				<true/>
				<key>name</key>
				<string>Wait for Time</string>
				<key>type</key>
				<string>Statement</string>
				<key>color</key>
				<string>orange_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>wait.pdf</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>red_block</string>
		<key>type</key>
		<string>Motion</string>
		<key>Blocks</key>
		<array>
			<dict>
				<key>isModifiable</key>
				<false/>
				<key>name</key>
				<string>Look Toward Voice</string>
				<key>type</key>
				<string>Statement</string>
				<key>color</key>
				<string>red_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>look_toward_voice.pdf</string>
			</dict>
			<dict>
				<key>isModifiable</key>
				<false/>
				<key>name</key>
				<string>Look Forward</string>
				<key>type</key>
				<string>Statement</string>
				<key>color</key>
				<string>red_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>look_forward.pdf</string>
			</dict>
			<dict>
				<key>isModifiable</key>
				<false/>
				<key>name</key>
				<string>Look Right</string>
				<key>type</key>
				<string>Statement</string>
				<key>color</key>
				<string>red_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>look_right.pdf</string>
			</dict>
			<dict>
				<key>isModifiable</key>
				<false/>
				<key>name</key>
				<string>Look Left</string>
				<key>type</key>
				<string>Statement</string>
				<key>color</key>
				<string>red_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>look_left.pdf</string>
			</dict>
			<dict>
				<key>isModifiable</key>
				<false/>
				<key>name</key>
				<string>Look Straight</string>
				<key>type</key>
				<string>Statement</string>
				<key>color</key>
				<string>red_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>look_straight.pdf</string>
			</dict>
			<dict>
				<key>isModifiable</key>
				<false/>
				<key>name</key>
				<string>Look Down</string>
				<key>type</key>
				<string>Statement</string>
				<key>color</key>
				<string>red_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>look_down.pdf</string>
			</dict>
			<dict>
				<key>isModifiable</key>
				<false/>
				<key>name</key>
				<string>Look Up</string>
				<key>type</key>
				<string>Statement</string>
				<key>color</key>
				<string>red_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>look_up.pdf</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>isModifiable</key>
				<false/>
				<key>name</key>
				<string>Wiggle</string>
				<key>color</key>
				<string>red_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>wiggle.pdf</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>isModifiable</key>
				<false/>
				<key>name</key>
				<string>Nod</string>
				<key>color</key>
				<string>red_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>nod.pdf</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>Variables</string>
		<key>color</key>
		<string>dark_purple_block</string>
		<key>Blocks</key>
		<array>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>isModifiable</key>
				<true/>
				<key>name</key>
				<string>Set Variable</string>
				<key>color</key>
				<string>dark_purple_block</string>
				<key>double</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement </string>
				<key>isModifiable</key>
				<true/>
				<key>name</key>
				<string>Drive</string>
				<key>color</key>
				<string>dark_purple_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>DriveBackwardnForward.pdf</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>isModifiable</key>
				<true/>
				<key>name</key>
				<string>Turn</string>
				<key>color</key>
				<string>dark_purple_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>newTurn.pdf</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>isModifiable</key>
				<true/>
				<key>name</key>
				<string>Look Up or Down</string>
				<key>color</key>
				<string>dark_purple_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>LookUpnDown.pdf</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>isModifiable</key>
				<true/>
				<key>name</key>
				<string>Look Left or Right</string>
				<key>color</key>
				<string>dark_purple_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>LookLeftnRight.pdf</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>Functions</string>
		<key>color</key>
		<string>light_purple_block</string>
	</dict>
</array>
</plist>
