<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>Sounds</string>
		<key>color</key>
		<string>#90D7FF</string>
		<key>Blocks</key>
		<array>
			<dict>
				<key>editable</key>
				<false/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Animal Noise</string>
				<key>color</key>
				<string>#DBF2FF</string>
				<key>double</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Vehicle Noise</string>
				<key>color</key>
				<string>#002041</string>
				<key>double</key>
				<false/>
			</dict>
			<dict>
				<key>editable</key>
				<false/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Object Noise</string>
				<key>color</key>
				<string>#227C7C</string>
				<key>double</key>
				<false/>
			</dict>
			<dict>
				<key>editable</key>
				<false/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Emotion Noise</string>
				<key>color</key>
				<string>#A50C82</string>
				<key>double</key>
				<false/>
			</dict>
			<dict>
				<key>editable</key>
				<false/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Speak</string>
				<key>color</key>
				<string>#C63329</string>
				<key>double</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>#31E384</string>
		<key>type</key>
		<string>Drive</string>
		<key>Blocks</key>
		<array>
			<dict>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Drive Forward</string>
				<key>type</key>
				<string>Statement</string>
				<key>color</key>
				<string>#31E384</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>drive_forward.pdf</string>
			</dict>
			<dict>
				<key>editable</key>
				<false/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Drive Backward</string>
				<key>color</key>
				<string>#31E384</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>drive_backward.pdf</string>
			</dict>
			<dict>
				<key>editable</key>
				<false/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Turn Left</string>
				<key>color</key>
				<string>#31E384</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>turn_left.pdf</string>
			</dict>
			<dict>
				<key>editable</key>
				<false/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Turn Right</string>
				<key>color</key>
				<string>#31E384</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>turn_right.pdf</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>#E3D93E</string>
		<key>type</key>
		<string>Lights</string>
		<key>Blocks</key>
		<array>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Set Eye Light</string>
				<key>color</key>
				<string>#6700C1</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>set_eye_light.pdf</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Set Left Ear Light</string>
				<key>color</key>
				<string>#6700C1</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>set_left_ear_light.pdf</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Set Right Ear Light</string>
				<key>color</key>
				<string>#6700C1</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>set_right_ear_light.pdf</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Set Chest Light</string>
				<key>color</key>
				<string>#6700C1</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>set_chest_light.pdf</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Set All Lights</string>
				<key>color</key>
				<string>#6700C1</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>set_all_lights.pdf</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>#FF9C4C</string>
		<key>type</key>
		<string>Control</string>
		<key>Blocks</key>
		<array>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>acceptedTypes</key>
				<array>
					<string>Number</string>
				</array>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Repeat</string>
				<key>color</key>
				<string>#FF9C4C</string>
				<key>double</key>
				<true/>
				<key>imageName</key>
				<string>repeat.pdf</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Repeat Forever</string>
				<key>color</key>
				<string>#FF9C4C</string>
				<key>double</key>
				<true/>
				<key>imageName</key>
				<string>repeat_forever.pdf</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>acceptedTypes</key>
				<array>
					<string>Boolean</string>
				</array>
				<key>editable</key>
				<false/>
				<key>options</key>
				<array>
					<true/>
					<false/>
				</array>
				<key>name</key>
				<string>If</string>
				<key>color</key>
				<string>#FF9C4C</string>
				<key>double</key>
				<true/>
				<key>imageName</key>
				<string>if.pdf</string>
			</dict>
			<dict>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Wait for Time</string>
				<key>type</key>
				<string>Statement</string>
				<key>color</key>
				<string>#FF9C4C</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>wait.pdf</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>#F06F79</string>
		<key>type</key>
		<string>Motion</string>
		<key>Blocks</key>
		<array>
			<dict>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Look Toward Voice</string>
				<key>type</key>
				<string>Statement</string>
				<key>color</key>
				<string>#836F53</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>look_toward_voice.pdf</string>
			</dict>
			<dict>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Look Forward</string>
				<key>type</key>
				<string>Statement</string>
				<key>color</key>
				<string>#836F53</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>look_forward.pdf</string>
			</dict>
			<dict>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Look Right</string>
				<key>type</key>
				<string>Statement</string>
				<key>color</key>
				<string>#836F53</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>look_right.pdf</string>
			</dict>
			<dict>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Look Left</string>
				<key>type</key>
				<string>Statement</string>
				<key>color</key>
				<string>#836F53</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>look_left.pdf</string>
			</dict>
			<dict>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Look Straight</string>
				<key>type</key>
				<string>Statement</string>
				<key>color</key>
				<string>#836F53</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>look_straight.pdf</string>
			</dict>
			<dict>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Look Down</string>
				<key>type</key>
				<string>Statement</string>
				<key>color</key>
				<string>#836F53</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>look_down.pdf</string>
			</dict>
			<dict>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Look Up</string>
				<key>type</key>
				<string>Statement</string>
				<key>color</key>
				<string>#836F53</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>look_up.pdf</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Wiggle</string>
				<key>color</key>
				<string>#0066D0</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>wiggle.pdf</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Nod</string>
				<key>color</key>
				<string>#0066D0</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>nod.pdf</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>Variables</string>
		<key>color</key>
		<string>#AC85F4</string>
		<key>Blocks</key>
		<array>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Set Variable</string>
				<key>color</key>
				<string>#774B4B</string>
				<key>double</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement </string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Drive</string>
				<key>color</key>
				<string>#774B4B</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>DriveBackwardnForward.pdf</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Turn</string>
				<key>color</key>
				<string>#774B4B</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>newTurn.pdf</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Look Up or Down</string>
				<key>color</key>
				<string>#774B4B</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>LookUpnDown.pdf</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Look Left or Right</string>
				<key>color</key>
				<string>#774B4B</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>LookLeftnRight.pdf</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>Functions</string>
		<key>color</key>
		<string>#F8E2FF</string>
	</dict>
</array>
</plist>
