<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>Sounds</string>
		<key>color</key>
		<string>blue_block</string>
		<key>Blocks</key>
		<array>
			<dict>
				<key>isModifiable</key>
				<true/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Animal Noise</string>
				<key>color</key>
				<string>animalNoiseColor</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>animalNoise.pdf</string>
			</dict>
			<dict>
				<key>isModifiable</key>
				<true/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Object Noise</string>
				<key>color</key>
				<string>objectNoiseColor</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>objectNoise.pdf</string>
			</dict>
			<dict>
				<key>isModifiable</key>
				<true/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Custom Noise</string>
				<key>color</key>
				<string>customNoiseColor</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>customNoise</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>green_block</string>
		<key>type</key>
		<string>Move</string>
		<key>Blocks</key>
		<array>
			<dict>
				<key>isModifiable</key>
				<true/>
				<key>name</key>
				<string>Move Up</string>
				<key>type</key>
				<string>Statement</string>
				<key>color</key>
				<string>green_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>drive_forward.pdf</string>
			</dict>
			<dict>
				<key>isModifiable</key>
				<true/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Move Down</string>
				<key>color</key>
				<string>green_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>drive_backward.pdf</string>
			</dict>
			<dict>
				<key>isModifiable</key>
				<true/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Move Left</string>
				<key>color</key>
				<string>green_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>move_left.pdf</string>
			</dict>
			<dict>
				<key>isModifiable</key>
				<true/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Move Right</string>
				<key>color</key>
				<string>green_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>move_right.pdf</string>
			</dict>
			<dict>
				<key>isModifiable</key>
				<true/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Turn Left</string>
				<key>color</key>
				<string>green_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>turn_left.pdf</string>
			</dict>
			<dict>
				<key>isModifiable</key>
				<true/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Turn Right</string>
				<key>color</key>
				<string>green_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>turn_right.pdf</string>
			</dict>
			<dict>
				<key>isModifiable</key>
				<true/>
				<key>name</key>
				<string>Grow Actor</string>
				<key>type</key>
				<string>Statement</string>
				<key>color</key>
				<string>green_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>grow_actor</string>
			</dict>
			<dict>
				<key>isModifiable</key>
				<true/>
				<key>name</key>
				<string>Shrink Actor</string>
				<key>type</key>
				<string>Statement</string>
				<key>color</key>
				<string>green_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>shrink_actor</string>
			</dict>
			<dict>
				<key>isModifiable</key>
				<true/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Move to Actor</string>
				<key>color</key>
				<string>green_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>move_to_actor</string>
			</dict>
			<dict>
				<key>isModifiable</key>
				<true/>
				<key>name</key>
				<string>Move to Location</string>
				<key>type</key>
				<string>Statement</string>
				<key>color</key>
				<string>green_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>move_to_location</string>
			</dict>
			<dict>
				<key>isModifiable</key>
				<true/>
				<key>name</key>
				<string>Set Speed</string>
				<key>type</key>
				<string>Statement</string>
				<key>color</key>
				<string>green_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>set_speed</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>orange_block</string>
		<key>type</key>
		<string>Control</string>
		<key>Blocks</key>
		<array>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>acceptedTypes</key>
				<array>
					<string>Number</string>
				</array>
				<key>isModifiable</key>
				<true/>
				<key>name</key>
				<string>Repeat</string>
				<key>color</key>
				<string>orange_block</string>
				<key>double</key>
				<true/>
				<key>imageName</key>
				<string>repeat.pdf</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>isModifiable</key>
				<false/>
				<key>name</key>
				<string>Repeat Forever</string>
				<key>color</key>
				<string>orange_block</string>
				<key>double</key>
				<true/>
				<key>imageName</key>
				<string>repeat_forever.pdf</string>
			</dict>
			<dict>
				<key>isModifiable</key>
				<true/>
				<key>name</key>
				<string>Wait for Time</string>
				<key>type</key>
				<string>Statement</string>
				<key>color</key>
				<string>orange_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>wait.pdf</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>Background</string>
		<key>color</key>
		<string>gold_block</string>
		<key>Blocks</key>
		<array>
			<dict>
				<key>isModifiable</key>
				<true/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Set Background</string>
				<key>color</key>
				<string>gold_block</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>setCustomBackground</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
