<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>color</key>
		<string>#FF7F2A</string>
		<key>type</key>
		<string>Control</string>
		<key>Blocks</key>
		<array>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>acceptedTypes</key>
				<array>
					<string>Number</string>
				</array>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Repeat</string>
				<key>color</key>
				<string>#ff162a</string>
				<key>double</key>
				<true/>
				<key>imageName</key>
				<string>repeat_red.png</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Number</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>two times</string>
				<key>color</key>
				<string>#FF7F2A</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>2.png</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Number</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>three times</string>
				<key>color</key>
				<string>#FF7F2A</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>3.png</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Number</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>four times</string>
				<key>color</key>
				<string>#FF7F2A</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>4.png</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Number</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>five times</string>
				<key>color</key>
				<string>#FF7F2A</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>5.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>Twinkle</string>
		<key>color</key>
		<string>#15284A</string>
		<key>Blocks</key>
		<array>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>options</key>
				<array>
					<string>Dog</string>
					<string>Horse</string>
					<string>Cat</string>
				</array>
				<key>name</key>
				<string>Twinkle, Twinkle, Little Star</string>
				<key>color</key>
				<string>#15284A</string>
				<key>double</key>
				<false/>
			</dict>
			<dict>
				<key>editable</key>
				<false/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>How I wonder what you are</string>
				<key>color</key>
				<string>#15284A</string>
				<key>double</key>
				<false/>
			</dict>
			<dict>
				<key>editable</key>
				<false/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Up above the world so high</string>
				<key>color</key>
				<string>#15284A</string>
				<key>double</key>
				<false/>
			</dict>
			<dict>
				<key>editable</key>
				<false/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Like a diamond in the sky</string>
				<key>color</key>
				<string>#15284A</string>
				<key>double</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Twinkle</string>
				<key>color</key>
				<string>#15284A</string>
				<key>double</key>
				<false/>
			</dict>
			<dict>
				<key>editable</key>
				<false/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Little Star</string>
				<key>color</key>
				<string>#15284A</string>
				<key>double</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>#A02C2C</string>
		<key>type</key>
		<string>Mary</string>
		<key>Blocks</key>
		<array>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Mary had a</string>
				<key>color</key>
				<string>#442178</string>
				<key>double</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>little lamb</string>
				<key>color</key>
				<string>#442178</string>
				<key>double</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Mary had a little lamb</string>
				<key>color</key>
				<string>#442178</string>
				<key>double</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Its fleece was white as snow</string>
				<key>color</key>
				<string>#442178</string>
				<key>double</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>And everywhere that</string>
				<key>color</key>
				<string>#442178</string>
				<key>double</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Mary went</string>
				<key>color</key>
				<string>#442178</string>
				<key>double</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Everywhere Mary went</string>
				<key>color</key>
				<string>#442178</string>
				<key>double</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>The lamb was sure to go</string>
				<key>color</key>
				<string>#442178</string>
				<key>double</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>#442178</string>
		<key>type</key>
		<string>Row</string>
		<key>Blocks</key>
		<array>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Row</string>
				<key>color</key>
				<string>#442178</string>
				<key>double</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Your boat</string>
				<key>color</key>
				<string>#442178</string>
				<key>double</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Gently down the stream</string>
				<key>color</key>
				<string>#442178</string>
				<key>double</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Merrily</string>
				<key>color</key>
				<string>#442178</string>
				<key>double</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Life is but a dream</string>
				<key>color</key>
				<string>#442178</string>
				<key>double</key>
				<false/>
			</dict>
		</array>
	</dict>
</array>
</plist>
