
/* color palette for light and dark mode */
/* Colors: main-color-1: 90D7FF, border-color: 0a0f13, star-color: white, main-color-2: 123C61, close-to-white: eeeeee, button-border: black, button-background: 1a252f,  */

:root{
  --main-color-1: #90D7FF;
  --main-color-2: white;
  --border-color: #0a0f13;
  --light-dark: white;
  --close-to-white: #eeeeee;
  --button-border: black;
  --button-background: #1a252f;
  --text-color: black;
  --link-hover: #123C61;
}

@media (prefers-color-scheme: dark) {
  :root{
    --main-color-1: #123C61;
    --main-color-2: black;
    --border-color: #0a0f13;
    --light-dark: black;
    --close-to-white: #eeeeee;
    --button-border: black;
    --button-background: #1a252f;
    --text-color: white;
    --link-hover: #90D7ff;
  }
}