<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>Sound</string>
		<key>color</key>
		<string>#15284A</string>
		<key>Blocks</key>
		<array>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>options</key>
				<array>
					<string>Dog</string>
					<string>Horse</string>
					<string>Cat</string>
				</array>
				<key>name</key>
				<string>Make Random Noise</string>
				<key>color</key>
				<string>#008000</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>random_sound.png</string>
			</dict>
			<dict>
				<key>editable</key>
				<false/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Say Hi</string>
				<key>color</key>
				<string>#15284A</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>say_hi.png</string>
			</dict>
			<dict>
				<key>editable</key>
				<false/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Confused</string>
				<key>color</key>
				<string>#15284A</string>
				<key>double</key>
				<false/>
			</dict>
			<dict>
				<key>editable</key>
				<false/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Bragging</string>
				<key>color</key>
				<string>#15284A</string>
				<key>double</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Say Bye</string>
				<key>color</key>
				<string>#15284A</string>
				<key>double</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Say Cool</string>
				<key>color</key>
				<string>#15284A</string>
				<key>double</key>
				<false/>
			</dict>
			<dict>
				<key>editable</key>
				<false/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Say Wow</string>
				<key>color</key>
				<string>#15284A</string>
				<key>double</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>Animals</string>
		<key>color</key>
		<string>#008000</string>
		<key>Blocks</key>
		<array>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Make Crocodile Noise</string>
				<key>color</key>
				<string>#008000</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>crocodile_sound.png</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Make Goat Noise</string>
				<key>color</key>
				<string>#008000</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>goat_sound.png</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Make Elephant Noise</string>
				<key>color</key>
				<string>#008000</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>elephant_sound.png</string>
			</dict>
			<dict>
				<key>editable</key>
				<false/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Make Dinosaur Noise</string>
				<key>color</key>
				<string>#008000</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>dinosaur_sound.png</string>
			</dict>
			<dict>
				<key>editable</key>
				<false/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Make Lion Noise</string>
				<key>color</key>
				<string>#008000</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>lion_sound.png</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Make Horse Noise</string>
				<key>color</key>
				<string>#008000</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>horse_sound.png</string>
			</dict>
			<dict>
				<key>editable</key>
				<false/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Make Dog Noise</string>
				<key>color</key>
				<string>#008000</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>dog_sound.png</string>
			</dict>
			<dict>
				<key>editable</key>
				<false/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Make Cat Noise</string>
				<key>color</key>
				<string>#008000</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>cat_sound.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>#0000FF</string>
		<key>type</key>
		<string>Drive</string>
		<key>Blocks</key>
		<array>
			<dict>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Drive Forward</string>
				<key>type</key>
				<string>Statement</string>
				<key>color</key>
				<string>#0000FF</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>drive_forward.png</string>
			</dict>
			<dict>
				<key>editable</key>
				<false/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Drive Backward</string>
				<key>color</key>
				<string>#0000FF</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>drive_backward.png</string>
			</dict>
			<dict>
				<key>editable</key>
				<false/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Turn Left</string>
				<key>color</key>
				<string>#0000FF</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>turn_left.png</string>
			</dict>
			<dict>
				<key>editable</key>
				<false/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Turn Right</string>
				<key>color</key>
				<string>#0000FF</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>turn_right.png</string>
			</dict>
			<dict>
				<key>editable</key>
				<false/>
				<key>type</key>
				<string>Statement</string>
				<key>name</key>
				<string>Start Engine</string>
				<key>color</key>
				<string>#0000FF</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>car_sound.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>#A02C2C</string>
		<key>type</key>
		<string>Lights</string>
		<key>Blocks</key>
		<array>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Set Eye Light</string>
				<key>color</key>
				<string>#442178</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>set_eye_light.png</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Set Left Ear Light</string>
				<key>color</key>
				<string>#442178</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>set_left_ear_light.png</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Set Right Ear Light</string>
				<key>color</key>
				<string>#442178</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>set_right_ear_light.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>#442178</string>
		<key>type</key>
		<string>Animations</string>
		<key>Blocks</key>
		<array>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Wiggle</string>
				<key>color</key>
				<string>#442178</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>wiggle.png</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Nod</string>
				<key>color</key>
				<string>#442178</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>nod.png</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Dance</string>
				<key>color</key>
				<string>#442178</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>dance.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>#FF7F2A</string>
		<key>type</key>
		<string>Control</string>
		<key>Blocks</key>
		<array>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>acceptedTypes</key>
				<array>
					<string>Number</string>
				</array>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>Repeat</string>
				<key>color</key>
				<string>#ff162a</string>
				<key>double</key>
				<true/>
				<key>imageName</key>
				<string>repeat_red.png</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Number</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>two times</string>
				<key>color</key>
				<string>#FF7F2A</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>2.png</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Number</string>
				<key>editable</key>
				<false/>
				<key>name</key>
				<string>three times</string>
				<key>color</key>
				<string>#FF7F2A</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>3.png</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Statement</string>
				<key>acceptedTypes</key>
				<array>
					<string>Boolean</string>
				</array>
				<key>editable</key>
				<false/>
				<key>options</key>
				<array>
					<true/>
					<false/>
				</array>
				<key>name</key>
				<string>If</string>
				<key>color</key>
				<string>#FF7F2A</string>
				<key>double</key>
				<true/>
				<key>imageName</key>
				<string>if.png</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Boolean</string>
				<key>editable</key>
				<false/>
				<key>options</key>
				<array>
					<true/>
					<false/>
				</array>
				<key>name</key>
				<string>Hear Voice</string>
				<key>color</key>
				<string>#FF7F2A</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>turn_toward_voice.png</string>
			</dict>
			<dict>
				<key>type</key>
				<string>Boolean</string>
				<key>editable</key>
				<false/>
				<key>options</key>
				<array>
					<true/>
					<false/>
				</array>
				<key>name</key>
				<string>Obstacle in front</string>
				<key>color</key>
				<string>#FF7F2A</string>
				<key>double</key>
				<false/>
				<key>imageName</key>
				<string>obstacle.png</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
