<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>Sound</string>
		<key>color</key>
		<string>#FF6347</string>
		<key>Blocks</key>
		<array>
			<dict>
				<key>name</key>
				<string>Say Hi</string>
				<key>color</key>
				<string>#FF6347</string>
				<key>double</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Make Horse Noise</string>
				<key>color</key>
				<string>#FF6347</string>
				<key>double</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>#0000FF</string>
		<key>type</key>
		<string>Drive</string>
		<key>Blocks</key>
		<array>
			<dict>
				<key>name</key>
				<string>Drive Forward</string>
				<key>color</key>
				<string>#0000FF</string>
				<key>double</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Drive Backward</string>
				<key>color</key>
				<string>#0000FF</string>
				<key>double</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Turn Left</string>
				<key>color</key>
				<string>#0000FF</string>
				<key>double</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Turn Right</string>
				<key>color</key>
				<string>#0000FF</string>
				<key>double</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>#FFA500</string>
		<key>type</key>
		<string>Repeat</string>
		<key>Blocks</key>
		<array>
			<dict>
				<key>name</key>
				<string>Repeat 3 Times</string>
				<key>color</key>
				<string>#FFA500</string>
				<key>double</key>
				<true/>
			</dict>
			<dict>
				<key>name</key>
				<string>Repeat 2 Times</string>
				<key>color</key>
				<string>#FFA500</string>
				<key>double</key>
				<true/>
			</dict>
		</array>
	</dict>
</array>
</plist>
